{% load static %}
{% block extra_style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'cards/css/styles.css' %}">
{% endblock extra_style %}

<form class="inline" action="{% url 'cards:add-rating' card.id %}" method="post">
    {% csrf_token %}
    <button class="my-btn" name="rating" type="submit" value="1">
        <i class="fas fa-star {% if user_review > 0 %} checked {% endif %} my-btn"></i>
    </button>
    <button class="my-btn" name="rating" type="submit" value="2">
        <i class="fas fa-star {% if user_review > 1 %} checked {% endif %} my-btn"></i>
    </button>
    <button class="my-btn" name="rating" type="submit" value="3">
        <i class="fas fa-star {% if user_review > 2 %} checked {% endif %} my-btn"></i>
    </button>
    <button class="my-btn" name="rating" type="submit" value="4">
        <i class="fas fa-star {% if user_review > 3 %} checked {% endif %} my-btn"></i>
    </button>
    <button class="my-btn" name="rating" type="submit" value="5">
        <i class="fas fa-star {% if user_review > 4 %} checked {% endif %} my-btn"></i>
    </button>
</form>
