{% load static %}
{% block extra_style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'cards/css/styles.css' %}">
{% endblock extra_style %}

<form class="inline" action="{% url 'cards:add-rating' card.id %}" method="post">
    {% csrf_token %}
    {% for i in '12345'|make_list %}
        {% if user_review >= i|add:'0' %}
            <button class="my-btn" name="rating" type="submit" value="{{ i }}">
                <i class="fas fa-star checked my-btn"></i>
            </button>
        {% else %}
            <button class="my-btn" name="rating" type="submit" value="{{ i }}">
                <i class="fas fa-star my-btn"></i>
            </button>
        {% endif %}
    {% endfor %}
</form>
