{% load static %}
{% block extra_style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'cards/css/styles.css' %}">
{% endblock extra_style %}

<span class="fa fa-star {% if card.get_avg_ratings > 0 %} checked {% endif %}"></span>
<span class="fa fa-star {% if card.get_avg_ratings > 1 %} checked {% endif %}"></span>
<span class="fa fa-star {% if card.get_avg_ratings > 2 %} checked {% endif %}"></span>
<span class="fa fa-star {% if card.get_avg_ratings > 3 %} checked {% endif %}"></span>
<span class="fa fa-star {% if card.get_avg_ratings > 4 %} checked {% endif %}"></span>
