{% extends 'home_page/base.html' %}
{% block title %}Cards{% endblock title%}

{% block content %}
    <div class="d-flex justify-content-between py-3">
        <h2>Card List</h2>
        <div class="pt-2">
            <a href="{% url 'cards:card-add' %}" class="btn btn-success">New Card</a>
        </div>
    </div>


    <div class="col-2">
        <form action="{% url 'cards:card-sortby' %}" method="get">
            <select name="filter" class="form-select">
                <option selected disabled>Choose</option>
                <option value="best_ideas">Best ideas</option>
                <option value="worst_ideas">Worst ideas</option>
                <option value="newest_cards">Newest cards</option>
                <option value="oldest_cards">Oldest cards</option>
                <option value="gt_one_star">Greater than 1 star</option>
                <option value="gt_two_star">Greater than 2 stars</option>
                <option value="gt_three_star">Greater than 3 stars</option>
                <option value="gt_fore_star">Greater than 4 stars</option>
                <option value="eq_five_star">Equal 5 stars</option>
            </select>
            {% if request.GET.filter %}
                <input type="hidden" name="next" value="{{ request.GET.filter }}">
            {% endif %}
            <input type="submit" class="btn btn-outline-info mt-2" value="Apply filter">
        </form>
    </div>


    <div class="row">
        {% for card in cards %}
            <div class="col-lg-4">
                <div class="card text-dark bg-light my-4 mx-3" style="height: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-3">{{ card.title }}</h5>
                        <p class="card-text">{{ card.body|truncatewords:20 }}</p>
                    </div>
                    <div class="card-body row align-items-end">
                        <div class="d-flex justify-content-between text-muted">
                            <a href="{% url 'cards:user-cards' card.author.username %}">
                                {{ card.author|capfirst }}
                            </a>
                            <small>{{ card.pub_date|date:' F d, Y' }}</small>
                        </div>
                        {% if card.rating_enable %}
                            <div>
                                <p>Average rating: {% include 'cards/avg_ratings.html' %}</p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'cards:card-detail' card.id %}" class="btn btn-outline-success btn-sm">
                            Read Card
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
